* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 251, 251);
}


main {
    margin-top: 5%;
    margin-left: 20px;
}

article {
    width: 20%;
    display: inline-block;
    text-align: left;
    position: absolute;
}

aside {
    margin-left: 450px;
    display: inline-block;
    width: 20%;
    text-align: right;
}

#minha_foto {
    width: 200px;
    border-radius: 50%;
}

#cabecalho {
    position: fixed ;
    top: 0;
}

#cabecalho h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 15, 15);
    font-size: 40px;
    letter-spacing: 2px;
}

#licoes_aprendidas {
    margin-left: 20px;
    display: inline-block;
}

#licoes_a_aprender {
    margin-left: 40px;
    display: inline-block;
}

#rodape {
    margin-top: 200px;
}

#link {
    margin-left: 60px;
}


